<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <title>BOOKFACE</title>
    </head>
    <body >
        <h1>Dashboard of BOOKFACE !</h1>
        <a href=><button>Log out</button></a>
    </body>
</html>