<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <title>BOOKFACE</title>
    </head>
    <body >
        <h1>Welcome on BOOKFACE !</h1>
        <a href="./register"><button>register</button></a>
        <a href="./login"><button>Log in</button></a>
    </body>
</html>