<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <title>BOOKFACE</title>
    </head>
    <body >
        <h1>Log in</h1>

        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>

        <form action="./login" method="post">
            <div><input id="username" name="username" type="text" placeholder="your email"></div>
            <div><input id="password" name="password" type="password" placeholder="your password"></div>
            <div><input type="submit" value="login"></div>
        </form>
        <div>
            <a href="./"><button>Home</button></a>
            <a href="./register"><button>register</button></a>
        </div>
    </body>
</html>